<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width"> 
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<!-- syntax highlighting CSS -->

		<!-- Javascript -->

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/gridism.css"> 
		<link rel="stylesheet" href="/css/main.css">

		<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Montserrat:700,400|Cutive+Mono' rel='stylesheet' type='text/css'>

</head>
<body class="">
