<header class="grid">
	<div class="branding grid wrap clearfix">
		<h1 class="title unit half"><a href="/">geek.kellyhays.ca</a></h1>
		<div class="navigation unit half">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about/">About</a></li>
			</ul>
		</div>
	</div>
</header>

<div class="content wrap grid">
	<p class="unit description">I forget things, this is here to help remind about the tools and methods for using unix, latex, apache and anything else I don't want to google again.</p>



