---
layout: default
---
<article>

	<h1>{{ page.title }}</h1>

	<div class="post golden-large unit">

		<!-- post -->

		{{ content }}

	</div>
	<div class="meta golden-small unit"> 
    <div class="grid clearfix">
      <h4 class="date unit one-third top">Posted</h4><div class="date two-thirds unit">{{ page.date | date: "%B %d, %Y" }}</div>
     </div>
    <div class="grid">
      <h4 class="unit one-third top">Tagged</h4>
      <ul class="tags unit two-thirds">
        {% for tag in page.tags %}
        <li><a href="/tag/{{ tag }}/">{{ tag }}</a></li>
        {% endfor %}
      </ul>
     </div>
	</div>
</article>
